<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
</head>
<body>
<h3>Farmers Markets</h3>
<script>
$.ajax({
   type: 'GET',
    url: 'http://search.ams.usda.gov/farmersmarkets/v1/data.svc/zipSearch?zip=36832',
    async: false,
    dataType: 'jsonp',
    success: function (data) {
        var $ul = $('#results');
        $.each(data.results, function (i, el) {
            var row =
                '<div style="border:2px solid black">' + 

                    '<div>' + el.marketname + '</div>' +
             '</div>';
            
             $.ajax({
    type: 'GET',
    url: 'http://search.ams.usda.gov/farmersmarkets/v1/data.svc/mktDetail?id=' + el.id,
    async: false,
    dataType: 'jsonp',
            success: function (data){
                    var $ul = $('#results');
                $ul.append(row);
        $.each(data, function (i, el) {
            var row =
                '<li>' + 
                    '<div>' + el.Address + '</div>' +
                    '<a href="' + el.GoogleLink + '">Directions</a>'+
                    '<div>Schedule: ' + el.Schedule + '</div>'+
             '</li>';
		  $ul.append(row);
        });
    },
    error: function (e) {
        alert(e.message);
    }
});

        });
    },
    error: function (e) {
        alert(e.message);
    }
});


</script>
<ul id="results"></ul>
</body>
</html>
